.Button {
  all: unset;
  padding: 1rem;
  border-radius: 10px;
  color: #fafafa;
  cursor: pointer;
  border: 2px solid transparent;
  text-align: center;
}

.Button:hover {
  opacity: 0.8;
}

.default {
  background-color: #66bb6a;
}

.default:active {
  border: 2px solid #66bb6a;
  opacity: 0.5;
}

.danger {
  background-color: #d32f2f;
}

.danger:active {
  border: 2px solid #66bb6a;
  border: 2px solid #66bb6a;
  opacity: 0.5;
}
