.Arrow {
  position: relative;
  width: 100%;
  height: 100%;
}

.svg {
  position: absolute;
  transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
  width: 100%;
  max-width: 35px;
  right: 0;
  left: 70px;
  transition: ease 2s;
  opacity: 5;
}
