.Footer {
  width: 100vw;
  padding: 2rem;
  background-color: #546e7a;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 412px) {
  .Footer {
    flex-direction: column;
  }
}
